.corpo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.corpo p{
    width: 900px;
}

.corpo h2{
    position: relative;
    left: -360px;
}

.corpo form{
    position: relative;
    left: -350px;
}